/*colors*/ 

:root {
  --dark-color:#2b2d42;
  --light-color:#F0F0EC;
  --red-color:#DC0739;
  --cyan-color:#45C8B7;
  --light-color2:#FEFEF9;

  --red-hover-color:#EE2856;
  --cyan-hover-color:#6af3e1;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto","sans-serif";
  background: #ffffff;
  min-width: 100vw;
  min-height: 100vh;
}

.wrapper{
  width: 1152px;
  margin: 0 auto;
  padding: 0 100px;
}

/*Header-navigation*/

.logo img{
  width: 35px;    /* largura da imagem */
  height: 35px;   /*  altura da imagem  */
  margin-top: 10px; /* margem do topo */
  position: flex;
  }

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light-color);
  box-shadow: 0 3 11 0 rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 2px 30px;
  padding-right: 0;

  position: fixed;
  z-index: 200;
  width: calc(1152px - 200px);
  top: 28px;
}

.desktop-nav .menu-items {
  display: flex;
  list-style: none;
}

.desktop-nav .menu-items li {
  margin: 0 20px;
}

.desktop-nav .menu-items li:nth-last-of-type(1) {
  margin-right: 0;
}

.desktop-nav .menu-items li a {
  text-decoration: none;
  color: var(--dark-color);
  font-size: 16px;
  font-weight: bold;
  position: relative;
}

.desktop-nav .menu-items li a.active::after {
  content: "";
  position: absolute;
  height: 3px;
  width:100%;
  background: var(--red-color);
  left: 0;
  bottom: -14px;
}


.desktop-nav .menu-items li a.btn {
  color: var(--light-color);
}


.desktop-nav .menu-items li a:hover{
  color:var(--cyan-hover-color);
}



a.btn {
  background: var(--red-color);
  color: var(--light-color);
  border-radius: 24px;
  padding: 14px 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 400ms;
}


a.btn.cyan{
background: var(--cyan-color);
color: var(--dark-color);
}

a.btn:hover{
  background: var(--red-hover-color);
}


a.btn.cyan:hover{
  background: var(--cyan-hover-color);
}

/*Hero section*/

.hero-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-container .left{
flex: 1;
margin-left: 12em;
}

.hero-container .left p {
  font-size: 24px;
}

.hero-container .left h1{
  font-size: 36px;
  font-family: "Montserrat","sans-serif";
  margin: 8px 0 28px 0;
  margin-left: 2.8em;
}

.hero-container .left .gt{
  color: var(--red-color)
}

.hero-container .left .btn{
  margin-right: 20px;
}

.hero-container .right{
  padding-right: 30px;
}

/*Hero bg and polygon*/
.hero-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.hero-image {
  position: relative;
  bottom: 50;
  left: 50;
  width: 100%;
  z-index:-1 ;
}

.hero-container .polygon2 {
  position: absolute;
  z-index: -1;
  top: 170px;
  left: 530px;
  margin-left: 4rem;
}

.hero-container .polygon3 {
  position: absolute;
  z-index: -1;
  top: 300px;
  left: 700px;
  margin-left: 4rem;
}

/*Animation*/

.desktop-nav {
  animation: fadeDown 1000ms forwards;
  opacity: 0;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-container .left p {
  animation: fadeIn 800ms forwards;
  opacity: 0;
  animation-delay: 400ms;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.hero-container .left h1 {
  animation: fadeToRight 800ms forwards cubic-bezier(0.22, 0.32, 0, 1.54);
  opacity: 0;
  animation-delay: 800ms;
}

@keyframes fadeToRight {
  from {
    opacity: 0;
    transform: translateX(-100px)
  }

to {
  opacity: 1;
  transform: translateX(-100px)
  }
}

.hero-container .left .btn:nth-of-type(1){
  animation: fadeIn 900ms forwards;
  opacity: 0;
  animation-delay: 900ms;
}

.hero-container .left .btn:nth-of-type(2){
  animation: fadeIn 900ms forwards;
  opacity: 0;
  animation-delay: 1200ms;
}

.hero-container .polygon2:nth-of-type(1){
  animation: fadeIn 1000ms forwards;
  opacity: 0;
  animation-delay: 1600ms;
}

.hero-container .polygon3:nth-of-type(2){
  animation: fadeToRight 1000ms forwards cubic-bezier(0.22, 0.32, 0, 1.05);
  opacity: 0;
  animation-delay: 1800ms;
  animation-duration: 6s;
  animation-duration: 1800ms;
  animation-iteration-count: infinite;
}

@keyframes fadeToRight {
  from {
    opacity: 0;
    transform: translateX(-100px)
  }

to {
  opacity: 1;
  transform: translateX(-100px)
  }
}

  /*Footer*/
  .container {
    max-width: 1150px;
    margin-inline-start:  30em;
  }

 .row {
   display: flex;
   flex-wrap: wrap;
 }
 ul {
   list-style: none;
   }
 
   .footer {
    background-color: var(--dark-color);
    padding: 30px 0;
   }

   .footer-col {
     width: 25%;
     padding: 0 15px;
   }

   .footer-col h4{
     font-size: 18px;
     color: var(--light-color);
     text-transform: capitalize;
     margin-bottom: 30px;font-weight: 500;
     position: relative;
     font-size: 16px;
   }

   .footer-col h4::before{
     content: " ";
     position: absolute;
     left: 0;
     bottom: -10px;
     background-color: var(--red-color);
     height: 2px;
     box-sizing: border-box;
     width: 50px;
   }

   .footer-col ul li:not(:last-child){
     margin-bottom: 10px;
   }

   .footer-col ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: var(--light-color);
     text-decoration: none;
     font-weight: 300;
     color: var(--light-color);
     display: block;
     transition: all 0.3s ease;
     font-size: 14px;
   }

   .footer-col ul li a:hover{
     color:var(--cyan-hover-color);
     padding-left: 8px;
   }

   .container-copyright {
    max-width: 1170px;
    margin-inline-start:  30em;
  }

 .row2 {
   display: flex;
   flex-wrap: wrap;
 }
 ul {
   list-style: none;
   }

   .footer-copyright {
    background-color: var(--dark-color);
    padding: 20px 0;
    text-align: center;
   }

  .footer-bottom{
    color:var(--light-color);
    margin-inline-start:  5em;
    text-align: center;
    font-size: 12px;
  }

  .desktop-nav .menu-icon {
    display: none;
  }

  /* media queries*/
  /*tablet*/
@media screen and (max-width:768px){
  .hero-container {

  }
}


/*celular*/
@media screen and (max-width:600px){
  
  .hero-image,
  .hero-container .polygon2 ,
  .hero-container .polygon3 {
    display: none;
  }

}

 





 

    
   
   

 
